body {
    background-color: #3D3B40;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1 {
    font-size: 6vw;
}

.white {
    color: white;
}

#startButton {
    width: 50vw;
    height: 50vw;
    font-size: 7vw;
}

img {
    width: 3vw;
    height: 3vw;
    padding-bottom: 5px;
}

#chosenMinutesLabel {
    font-size: 4vw;
}

#chosenMinutes {
    width: 50vw;
}

#numberChooserDiv {
    text-align: center;
}

#resetButton {
    position: absolute;
    width: 8vh;
    height: 8vh;
}

#counter {
    font-size: 4vw;
}
