body {
    background-color: #3D3B40;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

h1 {
    font-size: 2.7vh;
}

.white {
    color: white;
}

#startButton {
    width: 28vh;
    height: 28vh;
    font-size: 5vh;
}

img {
    width: 3vh;
    height: 3vh;
    padding-bottom: 5px;
}

#chosenMinutesLabel {
    font-size: 3vh;
}

#chosenMinutes {
    width: 40vh;
}

#numberChooserDiv {
    text-align: center;
}

#resetButton {
    position: absolute;
    width: 8vh;
    height: 8vh;
}

#counter {
    font-size: 4vh;
}
